@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');

:root {
  /* Colors */
  --color-primary: #0F285B; /* Liviniti Blue */
  --color-neutral-white: #FFFFFF; /* Surface Background */
  --color-neutral-disabled: #858585; /* Disabled State */
  --color-text-primary: #1A1A1A; /* Primary Text */
  --color-success: #5CB85C;
  --color-warning: #FBBA13;
  --color-error: #B80909;
  --color-success-background: rgba(190, 227, 190, 0.4);
  --color-warning-background: rgba(253, 214, 113, 0.2);
  --color-error-background: rgba(212, 107, 107, 0.4);

  /* Spacing */
  --spacing-nano: 4px;
  --spacing-xsmall: 8px;
  --spacing-small: 12px;
  --spacing-medium: 20px;
  --spacing-large: 32px;
  --spacing-xlarge: 48px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--color-neutral-white);
  color: var(--color-text-primary);
}

h1 {
  font-size: 2.07rem;
  font-weight: 700; /* bold */
  line-height: 120%;
}

h2 {
  font-size: 1.728rem;
  font-weight: 600; /* semi-bold */
  line-height: 120%;
}

h3 {
  font-size: 1.44rem;
  font-weight: 700; /* bold */
  line-height: 120%;
}

p {
  font-size: 1rem;
  font-weight: 400; /* normal */
  line-height: 120%;
}

.p2 {
  font-size: 0.8rem;
  font-weight: 400; /* normal */
  line-height: 120%;
}
